@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

.proPic {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;

}
.proPic {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;

}

.un {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 3vh;
    display:inline-block;
}

#viber {
    height:5vh;

}